# --- CRITICAL ENVIROMENTS (DO NOT COMMIT) ---
node_modules/
.venv/
venv/
ENV/
env/
.env
.env*
!.env.example
*.pem
*.key
auth.json

# --- PYTHON BUILD & CACHE ---
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- TESTING & COVERAGE ---
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# --- IDEs & EDITORS ---
.vscode/
.idea/
*.swp
*.swo
.cursorignore
.cursorindexingignore
.spyderproject
.spyproject
.ropeproject

# --- DATABASE & LOGS ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# --- PACKAGE MANAGERS (Locks usually committed, but environments ignored) ---
# Pipfile.lock
# poetry.lock
# uv.lock
.pdm-python
.pdm-build/
.pixi
__pypackages__/

# --- MISC / TOOLS ---
.abstra/
.ruff_cache/
.mypy_cache/
.pyre/
.pytype/
cython_debug/
.ipynb_checkpoints
profile_default/
ipython_config.py
/site
.scrapy
docs/_build/
